@font-face {
    font-family: myfont2;
    src: url(Pushster/Pushster-Regular.ttf);
}
/*body *{
	padding: 0%;
    margin: 0%;
	background: url(pexels-ron-lach-10646406.jpg);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100vh;
}
*/
form {
	text-align: left;
	width: 100%;
	border-radius:30px;
	/* border:1px solid silver; */
	padding: 20px;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.5) ;
	box-shadow:  20px 20px 60px #000000,
		  60px #fdf8d8;
		  

}

h1 {
	font-family: myfont2;
	color: aliceblue;
	text-align: center;
}
input{
	min-height: 40px;
}
input,textarea{
	border:none;
	border-radius: 5px;
}
input[type="submit"]{
background: hsl(30,100%,50%);
color: white;
font-weight: bold;
font-size: 16px;
}
textarea{
	min-height:60px;
}
form * {
	width: 90%;
	margin: auto;

}
form li{
		list-style: none;
		margin-bottom: 10px;
	}
	label{
		display: block;
        color: black;
	}
    /* @media(min-width:1000px){
        body{
            background: hsl(0, 0%, 90%);
        } */
      
        form{
            width: 50%;
            margin: auto;
        }
    
    
	
	label{
		display: block;
		font-weight: bold;
	}
header li a {
	color: black;
	text-decoration: none;
	display: inline-block;
	margin: auto;
	border-radius: 3px;
	padding: 4px;
	
	color: white;
	box-shadow: 2px 2px 2px silver;
}