@font-face{
    font-family:myfont1;
    src:url(Rock_3D/Rock3D-Regular.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(Pushster/Pushster-Regular.ttf);
}
@font-face{
    font-family:myfont3;
    src:url(Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}
body {
    padding: 0%;
    margin: 0%;
    background: url(pexels-ron-lach-10646406.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100vh;
    

}
    .toptext{
        position:absolute;
        left: 40px;
        top: 170px;
        font-size:70px;
        font-weight: bold;
        font-family: myfont3;
        color: white;
    }

    .toptext1{
        position:absolute;
        left: 40px;
        top: 250px;
        font-size:70px;
        font-weight: bold;
        font-family: myfont1;
        color: rgb(245, 243, 117);
    }



    .loginbox{
         width: 320px;
         height: 400px;
        
        position:absolute;
        top:20%;
        left:37%;
        
        border-radius: 43px;
        background-color: rgba(0,0,0,0.5) ;
        box-shadow:  20px 20px 60px #000000,
              60px #fdf8d8;
    }

    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position:absolute;
        top:-50px;
        left:110px;
    }

    .h1text{
        font-family:myfont2;
        position: absolute;
        top: 40px;
        left: 110px;
        text-align:center;
        font-size: 22px;
        color: white;

    }

    .form1{
        position: absolute;
        left: 10px;
        top: 100px;
    }

    .loginbox p{
        margin: 0%;
        padding: 0%;
        font-weight: bold;

    }
    
    .loginbox input{
        width: 95%;
        margin-bottom: 15px;

    }

    .loginbox input[type="text"],input[type="password"]{
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        height: 40px;
        background: transparent;
    }
    .b1{
        display: inline-block;
        border-radius: 12px;
        background-color:rgba(255, 255, 255, 0.986 0.5);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        width:120px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 1px;
    }
    .b2{
        display: inline-block;
        border-radius:12px;
        background-color:rgba(255, 255, 255, 0.884);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        width:120px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 1px;
        position: absolute;
        left: 170px;
        top: 188px;
    }

    .b1,.b2{
        cursor: pointer;
        display: inline-block;
        transition: 0.5s;
      }
      .b1,.b2 span:after {
        content: '\00bb';
        opacity: 0;
        transition: 0.5s;
      }
      
      .b1,.b2:hover span {
        padding-right: 25px;
      }
      
      .b1,.b2:hover span:after {
        opacity: 1;
        right: 0;
      }

     .button{
         display: inline-flex;
         height: 50px;
         padding:0;
         background: rgba(245, 0, 0, 0.726);
         border:none;
         outline:none;
         border-radius: 5px;
         overflow: hidden;
         font-family: myfont2;
         font-size: 16px;
         font-weight: 500;
         cursor: pointer;
     }

     .button:hover{
         background:rgba(136, 16, 16, 0.726) ;
     }
     .button:active{
         background:rgba(136, 16, 16, 0.726) ;
     }
     .button_text,
     .button_icon {
         display: inline-flex;
         align-items: center;
         padding: 0 40px;
         color: rgba(255, 255, 255, 0.884);
         height: 100%;
     }
     .button_icon2{
        display: inline-flex;
        align-items: center;
        padding: 0 40px;
        color: rgba(255, 255, 255, 0.884);
        height: 100%;
     }
     .button_icon{
         font-size: 1.5cm;
         background: rgba(255, 0, 0, 0.733);
     }
     .button_icon2{
        font-size: 1.5cm;
        background: rgba(0, 4, 255, 0.733);
    }